@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Open Sans';
	src: url('./lib/fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./lib/fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./lib/fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('./lib/fonts/OpenSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./lib/fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Open Sans';
	src: url('./lib/fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #585858;
}

.primarybutton {
	background-color: #e5704e;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: 600;
	color: #fff;
	transition: 0.1s;
}

.primarybutton:hover {
	background-color: #de5c34;
}

.secondarybutton {
	background-color: #f7f7f7;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-weight: 600;
	transition: 0.1s;
	color: #e5704e;
}

.secondarybutton:hover {
	background-color: #f3f3f3;
}

code {
	word-wrap: normal;
	word-break: normal;
	word-spacing: normal;
}

a {
	font-weight: 600;
	color: #e5704e;
}

a:hover {
	color: #de5c34;
}
